<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 조회</title>
  </head>
  <body>
    <h1>그 상품 쓸만해 보여?</h1>
    <div class="wrapper">
      <table>
        <thead>
          <th>상품ID</th>
          <th>상품명</th>
          <th>수량</th>
          <th>가격</th>
        </thead>
        <tbody>
          <form  action="" method="" th:object="${inquiryForm}">
            <tr>
              <td>
                <input type="text" name="pname" th:field="*{pid}" readonly />
              </td>
              <td>
                <input type="text" name="pname" th:field="*{pname}" readonly />
              </td>
              <td>
                <input
                  type="text"
                  name="quantity"
                  th:field="*{quantity}"
                  readonly
                />
              </td>
              <td>
                <input type="text" name="price" th:field="*{price}" readonly />
              </td>
            </tr>
          </form>
        </tbody>
      </table>
      <div>
        <button type="button" class="btn1">수정하러 가기</button>
        <button type="button" class="btn2">삭제하기</button>
        <a href="" th:href="@{/products}"><button>목록으로 가기</button>
      </div>
    </div>
  </body>
  <script>
    const btn1 = document.querySelector('.btn1');
    const btn2 = document.querySelector('.btn2');
    btn1.addEventListener('click', (e) => {
      globalThis.location.href = `/products/${$pid.value}/update`;
    });
    btn2.addEventListener('click', (e) => {
      globalThis.location.href = `/products/${$pid.value}/delete`;
    });
  </script>
</html>
